@(title:String = "", success:Seq[String] = Seq(), error:Seq[String] = Seq(), tray:Html = Html(""))(content:Html)(implicit user:Option[App.View.Account.Details], loginForm:Form[(String, String)], baseUri:App.View.AbsoluteUri, flash:Flash, request:RequestHeader)
<!DOCTYPE html>
<html>
<head>
  <title>@App.View.applicationTitle - @title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">

  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/alertify.core.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/alertify.default.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/chosen.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/main.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/tarot.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.at("css/login.css")'>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/smoothness/jquery-ui.css" />

  <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>

  <script src='@routes.Assets.at("js/jquery-1.9.0.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("js/alertify-0.3.10.min.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("js/string.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("js/eventsource.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("js/sse.js")' type="text/javascript"></script>
  <script src='@routes.Assets.at("js/chosen.jquery-1.0.0.min.js")' type="text/javascript"></script>

  <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <script src="http://code.highcharts.com/3.0.2/highcharts.js"></script>
  <script src="http://code.highcharts.com/3.0.2/highcharts-more.js"></script>
  <script src="http://code.highcharts.com/3.0.2/modules/annotations.js"></script>
  <script src="http://code.highcharts.com/3.0.2/modules/canvas-tools.js"></script>
  <script src="http://code.highcharts.com/3.0.2/modules/data.js"></script>
  <script src="http://code.highcharts.com/3.0.2/modules/exporting.js"></script>
  <script src="http://code.highcharts.com/3.0.2/modules/funnel.js"></script>

  <script src='@routes.Assets.at("js/highcharts-3.0.2-theme.js")' type="text/javascript"></script>
  <!--
  <script src="http://code.highcharts.com/3.0.2/themes/gray.js"></script>
  <script src="http://code.highcharts.com/3.0.2/themes/dark-blue.js"></script>
  <script src="http://code.highcharts.com/3.0.2/themes/dark-green.js"></script>
  <script src="http://code.highcharts.com/3.0.2/themes/grid.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  -->
  <script type="text/javascript">
    //Fade content in.
    $(document).ready(function() {
      $(".main").css("display", "none");
      $(".main").fadeIn(1000);
    });

    $(document).ready(function() {
      $('a.login-window').click(function() {

        //Getting the variable's value from a link.
        var loginBox = $(this).attr('href');

        //Fade in the Popup
        $(loginBox).fadeIn(300);

        //Set the center alignment padding + border see css style
        var popMargTop = ($(loginBox).height() + 24) / 2;
        var popMargLeft = ($(loginBox).width() + 24) / 2;

        $(loginBox).css({
          'margin-top' : -popMargTop,
          'margin-left' : -popMargLeft
        });

        // Add the mask to body
        $('body').append('<div id="mask"></div>');
        $('#mask').fadeIn(300);

        return false;
      });

      //When clicking on the button close or the mask layer, close the popup.
      $(document).on('click', 'a.close, #mask', function() {
        $('#mask , .login-popup').fadeOut(300 , function() {
          $('#mask').remove();
        });
        return false;
      });

      if (window.location.pathname === "/") {
        var chained = alice.init({"workflow":true});
        //Whir, pop, ding!
        $({})
          .queue(function (next) {
            $('#whir').delay(1000).fadeIn(200, next);
          })
          .queue(function (next) {
            $('#pop').delay(1500).fadeIn(200, next);
          })
          .queue(function (next) {
            $('#ding').delay(2000).show(0, function() {
              $(this).css({'display':'inline-block'});
              $(this).css({'visibility':'visible'});

              chained
                .wobble({"elems": 'ding', "perspectiveOrigin":"center","rotate": 10,"duration": "50ms","timing": "easeInOutQuad","delay": {"value": "0ms","randomness": "0%"},"iteration": "30","direction": "normal","playstate": "running"})
                .delay(450)
                .cheshire({"elems": 'whirpopding',"fade": "out","duration": {"value": "1500ms","randomness": "0%"},"timing": "ease","delay": {"value": "0ms","randomness": "0%"},"iteration": "1","direction": "normal","playstate": "running"})
                .start()
              ;
            });
          })
        ;
      }
    });
  </script>
  @if(!success.isEmpty) {
    <script type="text/javascript">
      $(document).ready(function() {
        alertify.set({ delay: 1000 * 5 });

        @success.map { message =>
          alertify.success('@message');
        }
      });
    </script>
  }
  @if(!error.isEmpty) {
    <script type="text/javascript">
      $(document).ready(function() {
        alertify.set({ delay: 1000 * 5 });

        @error.map { message =>
          alertify.error('@message');
        }
      });
    </script>
  }
  @if(flash.get("success").isDefined) {
    <script type="text/javascript">
      $(document).ready(function() {
        alertify.set({ delay: 1000 * 5 });

        @flash.get("success").map { message =>
          alertify.success('@message');
        }
      });
    </script>
  }
  @if(flash.get("error").isDefined) {
    <script type="text/javascript">
      $(document).ready(function() {
        alertify.set({ delay: 1000 * 5 });

        @flash.get("error").map { message =>
          alertify.error('@message');
        }
      });
    </script>
  }
</head>
<body>
  <script src='@routes.Assets.at("js/alice-0.5.0.min.js")' type="text/javascript"></script>
  <div class="header">
    <div class="headerAccount">
      @if(user.isEmpty) {
        <a href="#login-box" class="login-window">Login / Sign In</a>
        <div id="login-box" class="login-popup">
          <a href="#" class="close"><img src='@routes.Assets.at("images/dialog-close.png")' width="32" height="32" class="btn_close" title="Close Window" alt="Close" /></a>
          @helper.form(routes.Application.authenticate, 'class -> "signin") {
            <fieldset class="textbox">
              <label class="username">
                <input name="account" value="" type="text" autocomplete="on" placeholder="Account" class="text">
              </label>
              <label class="password">
                <input name="password" value="" type="password" placeholder="Password" class="text">
              </label>
              <input class="submit button" type="submit" value="Sign in" />
            </fieldset>
          }
        </div>
      } else {
        @user.map { u =>
          @u.displayName &lt;@u.email&gt; (<a href="@routes.Application.logout">Log out</a>)
        }
      }
    </div>
    <div class="headerBackground">
      <div class="headerContent">
        <img src='@routes.Assets.at("images/icon-gears.png")' width="70" height="70" class="headerIcon" />
        <a href="@routes.Application.index" target="_top"><h1>Project Tarot</h1></a>
        <h6>Dynamic resource allocation engine<div id="whirpopding" style="display:inline-block;"><span id="whir" style="display:none;">: whir</span> <span id="pop" style="display:none;">pop</span> <div id="ding" style="display:none;visibility:hidden;">ding!</div></div></h6>
      </div>
    </div>
  </div>
  @tray
  <div class="main">
    @content
  </div>
  <div class="footer">
    <div class="footerContent">
      <div class="footerColumn">
        <div class="footerLink">
          <a href="@routes.Application.index" target="_top">Home</a>
        </div>
        <div class="line"></div>
        <div class="footerLink">
          <a href="@routes.Application.news" target="_top">News</a>
        </div>
        <div class="line"></div>
      </div>
      <div class="footerColumn">
        <div class="footerLink">
          <a href="@routes.Application.support" target="_top">Support</a>
        </div>
        <div class="line"></div>
        <div class="footerLink">
          <a href="@routes.Application.team" target="_top">The Team</a>
        </div>
        <div class="line"></div>
      </div>
      <div class="footerColumn">
        <div class="footerLink">
          <a href="@routes.Application.support" target="_top">Feedback</a>
        </div>
        <div class="line"></div>
        <div class="footerLink">
          <a href="@routes.Application.terms" target="_top">Terms of Use</a>
        </div>
        <div class="line"></div>
      </div>
      <div class="break"></div>
      <div class="footerCopyright">
        &copy; 2013 Guidewire. All rights reserved.
      </div>
    </div>
  </div>
</body>
</html>
